@font-face {
  font-family: 'TV Nord';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/TV Nord EF Cond Regular.woff") format('woff');
}
@font-face {
  font-family: 'TV Nord';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TV Nord EF Cond Bold.woff") format('woff');
}

* {font-family: "TV Nord"; -webkit-user-select: none; user-select: none;}
html {background: #000;}

#menu {
    position: relative;
    top: 0px; left: 0;
    margin: auto;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

#browser-title {
    position: absolute;
    top: 100px; left: 100px;
    font-weight: 700;
    font-size: 70px;
    color: #fff;
    opacity: 0.85;
    background: -webkit-linear-gradient(#fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#browser {
    position: absolute;
    left: 100px; top: 220px;
    width: 1080px;
    border-collapse:separate;
    border-spacing:0px 2px;
    padding: 2px;
    box-sizing: border-box;
}

#browser .server {
    width: 535px;
    height: 70px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 22px;
    color: rgba(255,255,255,0.85);
    border-left: 3px solid rgba(255,255,255,0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
}

.server .thumb, .server .info, .server .players {
    display: inline-block;
    width: 200px;
    height: 70px;
    box-sizing: border-box;
    padding: 10px 0px !important;
    vertical-align: top;
}
.server .thumb {text-align: center;}
.server .players {
    padding: 15px 0px !important;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    width: 120px;
}

#browser .server .thumb img {
    border: 1px solid rgba(255,255,255,0.9);
    width: 180px;
    height: 50px;
}

#browser .name, #browser .settings {display: block;}

#thefeeltrain {
    position: relative;
    margin: 20px auto;
    background: url('../img/thefeeltrain.png') no-repeat 0 0/cover;
    width: 250px;
    height: 35px;
    opacity: 0.8;
}

#thefeeltrain:hover {
    opacity: 1;
    cursor: pointer;
}

#bg,#bg-cover,#black {
    position: absolute;
    top: 0; left: 0;
    width: 1280px;
    height: 720px;
}

#bg {z-index: 0;}
#bg-cover {z-index: 1;background: rgba(0,0,0,0.25);}
#black {background: #000;z-index: 10;display: none;}

audio {display: none;}

.menu-container {
    position: absolute;
    margin: 0;
    z-index: 2;
    width: 1280px;
    height: 720px;
}

#main, #serverbrowser {top: -720px;}

.animated {
    -webkit-transition: 400ms;
    -webkit-transition-timing-function: cubic-bezier(.55,0,.1,1);
    -moz-transition: 400ms;
    -moz-transition-timing-function: cubic-bezier(.55,0,.1,1);
    transition: 400ms;
    transition-timing-function: cubic-bezier(.55,0,.1,1);
}

#customgame {top: -720px; left: 0;}
#main2 {top: 0px; left: 0;}

#map-thumb,#map-thumb-options {
    position: absolute;
    top: 80px;
    width: 450px;
    height: 200px;
    background: url('../img/maps/EDGE.png') no-repeat 0 0/cover;
    border-radius: 4px;
}

#map-thumb {
    left: 100px;
    border: 1px solid rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 50px 16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 16px rgba(0,0,0,0.75);
}

#map-thumb-options {
    right: 150px;
    border: 2px solid rgba(255,255,255,1);
}

#map-name-options,#map-info-options {
    position: absolute;
    left: 680px;
    font-weight: 300;
    color: #fff;
    width: 450px;
}

#map-name-options {
    top: 320px;
    font-size: 28px;
    opacity: 0.85;
}

#map-info-options {
    top: 380px;
    font-size: 18px;
    opacity: 0.7;
}

#gametype-icon {
    position: absolute;
    top: 5px; left: 5px;
    background: url('../img/gametypes/Slayer.png') no-repeat 0 0/cover;
    width: 90px;
    height: 90px;
}

#title,#subtitle {
    position: absolute;
    left: 100px;
    color: #fff;
    opacity: 0.85;
}

#title {
    top: 300px;
    font-weight: 700;
    font-size: 70px;
    background: -webkit-linear-gradient(#fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#subtitle {
    top: 390px;
    font-size: 24px;
    font-weight: 300;
}

#line1,#line2,#line3,#line4 {
    position: absolute;
    background: rgba(255,255,255,0.25);
    height: 1px;
}

#line1 {top: 450px; left: 90px; width: 450px;}
#line2 {top: 625px; left: 90px; width: 700px;}
#line3 {top: 200px; left: 100px; width: 1080px;}
#line4 {top: 600px; left: 100px; width: 1080px;}

#select {position: absolute;top: 460px; left: 90px;width: 450px;}
.select-main {position: absolute;top: 500px; left: 90px;width: 450px;}
.options-select {position: absolute;top: 150px; left: 150px;width: 980px;}
.map-select {position: absolute;top: 150px; left: 150px;width: 260px;}

::-webkit-scrollbar {display: none;}

.map-select2 {
    position: absolute;
    top: 150px; left: 310px;
    width: 260px;
    display: none;
    height: 500px;
    overflow-y: hidden;
    overflow-x: visible;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 80%,rgba(0,0,0,0) 100%);
    opacity: 0;
}

.map-select .selection .label, .map-select2 .selection .label {
    text-align: left;
    display: table-cell;
    width: 260px;
    padding: 7px 10px 0px 10px;
    box-sizing: border-box;
    height: 40px;
}

.map-select .selection, .map-select2 .selection {
    font-weight: 300;
    font-size: 25px;
    color: rgba(255,255,255,0.85);
    width: 260px;
    height: 35px;
    border-left: 3px solid rgba(255,255,255,0);
    box-sizing: border-box;
    line-height: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.map-select .selection {background: url('../img/right.png') no-repeat 232px 8px/18px auto;}

.options-select .selection .value, #select .selection .value  {
    text-align: center;
    display: table-cell;
    width: 210px;
    padding: 7px 0px 0px 0px;
    box-sizing: border-box;
    height: 40px;
}

.options-select .selection .label, #select .selection .label {
    text-align: left;
    display: table-cell;
    width: 220px;
    padding: 7px 10px 0px 10px;
    box-sizing: border-box;
    height: 40px;
}

.options-select .selection {
    font-weight: 300;
    font-size: 25px;
    color: rgba(255,255,255,0.85);
    width: 430px;
    height: 35px;
    border-left: 3px solid rgba(255,255,255,0);
    box-sizing: border-box;
    line-height: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    margin-right: 60px;
}

.left,.right {
    text-align: center;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    display: table-cell;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    box-sizing: border-box;
    padding: 0;
}

.left {background-image: url('../img/left.png');}
.right {background-image: url('../img/right.png');}


#select .selection,.select-main .selection {
    font-weight: 300;
    font-size: 22px;
    color: rgba(255,255,255,0.85);
    width: 450px;
    height: 40px;
    border-left: 3px solid rgba(255,255,255,0);
    box-sizing: border-box;
    line-height: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.select-main .selection {font-size: 24px;}

.select-main .selection .value, #select .selection .value  {
    text-align: right;
    display: table-cell;
    width: 225px;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 40px;
}

.select-main .selection .label, #select .selection .label {
    text-align: left;
    display: table-cell;
    width: 225px;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 40px;
}

.selection:hover, .server:hover {
    border-left: 3px solid rgba(255,255,255,0.3) !important;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: rgba(255,255,255,0.95);
}

.selection.selected {
    border-left: 3px solid rgba(255,255,255,0.3) !important;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: rgba(255,255,255,0.95);
}

#currentmap {
    text-transform: uppercase;
}

#dewrito {
    position: absolute;
    left: -10px;
    top: 240px;
    width: 750px;
    height: 267px;
    opacity: 0.85;
    background: url('../img/Halo 3 CE.png') no-repeat 0 0/cover;
    z-index: 2;
}

#lobby {
    width: 300px;
    border-collapse:separate;
    border-spacing:0px 2px;
}

#lobby-container {
    position: absolute;
    top: 50px; right: 100px;
    width: 300px;
    height: 612px;
    overflow-y: hidden;
}

#lobby .top td {
    background: rgba(0,0,0,0.5);
    font-weight: 300;
    font-size: 20px;
    width: 300px;
    height: 32px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #fff;
}

.red td {background: rgba(207,62,62,0.5);} .red td.rank {background: rgba(177,32,32,0.5);}
.green td {background: rgba(47,112,61,0.5);} .green td.rank {background: rgba(17,82,31,0.5);}
.blue td {background: rgba(55,87,153,0.5);} .blue td.rank {background: rgba(25,57,123,0.5);}
.orange td {background: rgba(233,115,57,0.5);} .orange td.rank {background: rgba(203,85,27,0.5);}
.cyan td {background: rgba(65,170,169,0.5);} .cyan td.rank {background: rgba(35,140,139,0.5);}
.white td {background: rgba(212,212,212,0.5);} .white td.rank {background: rgba(182,182,182,0.5);}
.pink td {background: rgba(251,139,159,0.5);} .pink td.rank {background: rgba(221,109,129,0.5);}
.gray td {background: rgba(90,90,90,0.5);} .gray td.rank {background: rgba(60,60,60,0.5);}
.yellow td {background: rgba(255,219,65,0.5);} .yellow td.rank {background: rgba(225,189,35,0.5);}
.red:hover td {background: rgba(237,92,92,0.75);} .red:hover td.rank {background: rgba(207,62,62,0.75);}
.green:hover td {background: rgba(77,142,91,0.75);} .green:hover td.rank {background: rgba(47,112,61,0.75);}
.blue:hover td {background: rgba(85,117,183,0.75);} .blue:hover td.rank {background: rgba(55,87,153,0.75);}
.orange:hover td {background: rgba(255,145,87,0.75);} .orange:hover td.rank {background: rgba(233,115,57,0.75);}
.cyan:hover td {background: rgba(95,200,199,0.75);} .cyan:hover td.rank {background: rgba(65,170,169,0.75);}
.white:hover td {background: rgba(242,242,242,0.75);} .white:hover td.rank {background: rgba(212,212,212,0.75);}
.pink:hover td {background: rgba(255,159,189,0.75);} .pink:hover td.rank {background: rgba(251,139,159,0.75);}
.gray:hover td {background: rgba(120,120,120,0.75);} .gray:hover td.rank {background: rgba(90,90,90,0.75);}
.yellow:hover td {background: rgba(255,249,95,0.75);} .yellow:hover td.rank {background: rgba(255,219,65,0.75);}

#lobby td {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    box-sizing: border-box;
    margin-bottom: 3px;
    height: 32px;
    color: #fff;
    cursor: pointer;
}

#lobby td.name {
    font-weight: 300;
    font-size: 20px;
    width: 400px;
    padding: 0px 20px 2px 20px;
}

#lobby td.rank {
    width: 50px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

#lobby td.rank img {
    max-width: 30px;
    max-height: 30px;
    margin-top: 0px;
    opacity: 0.9;
    box-sizing: border-box;
}

#playerinfo {
    position: absolute;
    right: -700px;
    top: 65px;
    width: 666px;
    height: 581px;
    border: none;
    z-index: 2;
    overflow: hidden;
    opacity: 0.9;
}

#back,#version {
    position: absolute;
    cursor: pointer;
    z-index: 4;
    color: #fff;
}

#back {
    left: 20px;
    bottom: 20px;
    font-size: 20px;
    opacity: 0.75;
    display: none;
}

#version {
    right: 5px;
    bottom: 5px;
    font-size: 16px;
    opacity: 0.5;
}

.options-menu {
    background: -moz-linear-gradient(top, rgba(0,38,64,0.9) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, rgba(0,38,64,0.9) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(0,38,64,0.9) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
    position: absolute;
    top: 0px; left: 0;
    margin: 0;
    z-index: 3;
    display: none;
    width: 1280px;
    height: 720px;
}

.options-section {
    width: 1280px;
    height: 720px;
    top: 0px;
    left: 0px;
    display: none;
}

.options-title {
    position: absolute;
    top: 60px; left: 150px;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    opacity: 0.9;
    z-index: 4;
    background: -webkit-linear-gradient(#fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dot {
    position: absolute;
    top: 45px; left: 80px;
    background: url('../img/Auntie_Dot.png') 0 0/cover;
    width: 120px;
    height: 90px;
    z-index: 3;
    opacity: 0.67;
}
