@font-face {
  font-family: 'TV Nord';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/TV Nord EF Cond Regular.woff") format('woff');
}
@font-face {
  font-family: 'TV Nord';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TV Nord EF Cond Bold.woff") format('woff');
}
