@font-face {
    font-family: 'Conduit ITC';
    font-style: normal;
    font-weight: 300;

    src: url("../fonts/Conduit ITC Light.woff") format('woff');
}
@font-face {
    font-family: 'Conduit ITC';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Conduit ITC.woff") format('woff');
}
@font-face {
    font-family: 'Conduit ITC';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Conduit ITC Medium.woff") format('woff');
}
@font-face {
    font-family: 'Conduit ITC';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Conduit ITC Bold.woff") format('woff');
}
* {
    font-family: "Conduit ITC";
    -webkit-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}
.checkbox {
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-left: 5px;
    border: 2px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
}
.checkbox.checked {
    background: url(../img/check.svg) no-repeat center/14px;
}
#browser-buttons {
    width: 800px;
    height: 28px;
    position: absolute;
    top: 115px;
    right: 100px;
}
#network-toggle {
    display: none;
}
#refresh img {
    margin: 0;
    height: 28px;
    width: 28px;
}
#direct-connect {
    position: absolute;
    color: #fff;
    bottom: 40px;
    right: 490px;
    font-size: 22px;
    opacity: 0.85;
    z-index: 2;
    text-align: center;
    width: 300px;
}
#direct-connect:hover,
#load-more:hover,
#friends-online:hover {
    opacity: 1;
    cursor: pointer;
}
#browser-map,
#browser-gametype,
#refresh,
#clear,
#browser-full,
#browser-locked,
#browser-sprint {
    float: right;
    color: #fff;
    top: 115px;
    font-size: 18px;
    opacity: 0.85;
    z-index: 2;
    margin: 0 15px;
    max-width: 400px;
    box-sizing: border-box;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}
#browser-map:hover,
#browser-gametype:hover,
#refresh:hover,
#clear:hover,
#browser-locked:hover,
#browser-full:hover,
#browser-sprint:hover {
    opacity: 1;
    cursor: pointer;
}
#clear {
    display: none;
}
#players-online {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    opacity: 0.75;
    z-index: 10;
    color: #fff;
}
#friends-online {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    opacity: 0.75;
    z-index: 10;
    color: #fff;
}
#menu {
    position: absolute;
    top: 0px;
    left: 0;
    margin: 0 !important;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    transform-origin: top left;
    box-sizing: border-box;
}
#main:not(.browser) #serverbrowser {
    display: none;
}
.browser #select-previous {
    left: 105px;
}
.browser #select-title {
    position: absolute;
    top: 60px;
    left: 100px;
    font-weight: 700;
    font-size: 68px;
    color: #fff;
    opacity: 0.85;
    background: -webkit-linear-gradient(#fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.browser #select-main,
.browser #party-text,
.browser #select-icon,
.browser #description {
    display: none;
}
#browser {
    position: absolute;
    left: 100px;
    top: 170px;
    width: 1080px;
    border-collapse: separate;
    border-spacing: 0px 2px;
    padding: 2px;
    box-sizing: border-box;
    height: 475px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#browser.regular .server {
    height: 100px;
    font-size: 20px;
}
#browser.condensed .server {
    height: 70px;
    font-size: 18px;
}
#browser.list .server {
    height: 30px;
    font-size: 16px;
}
#browser .server {
    width: 1074px;
    box-sizing: border-box;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.85);
    border-left: 3px solid rgba(255, 255, 255, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
#browser.regular .flag {
    position: relative;
    top: 0px;
    display: inline-block;
    vertical-align: top;
    max-width:30px;
    max-height:23px;
}
.selection input[type="text"] {
    border: none;
    background: transparent;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.85);
    outline: none;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
}
.regular .server .thumb,
.regular .server .info {
    display: inline-block;
    width: 590px;
    height: 200px;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 10px 0px !important;
    vertical-align: top;
}
.regular .server .thumb {
    text-align: center;
    width: 240px;
}
.regular .server .players {
    display: inline-block;
    width: 240px;
    height: 100px;
    text-align: right;
    font-weight: 300;
    font-size: 38px;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 30px 40px !important;
}
.regular .server .settings {
    padding: 0 0px;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    vertical-align: center;
    width: 600px;
}
#browser.regular .server .thumb img {
    border: 2px solid rgba(255, 255, 255, 0.9);
    width: 210px;
    height: 79px;
}
.regular .server.passworded .thumb:before{
    border: 2px solid rgba(255, 255, 255, 0.9);
    width: 210px;
    height: 79px;
    left: 14px;
    top: 10px;
}
.regular .elversion {
    font-size: 15px;
}
.condensed .server .thumb,
.condensed .server .info {
    display: inline-block;
    width: 590px;
    height: 70px;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 5px 0px !important;
    vertical-align: top;
}
.condensed .server .thumb {
    text-align: center;
    width: 240px;
}
.condensed .server .players {
    display: inline-block;
    width: 240px;
    height: 70px;
    text-align: right;
    font-weight: 300;
    font-size: 30px;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 15px 30px !important;
}
.condensed .server .settings {
    padding: 0;
    font-weight: 300;
    font-size: 22px;
    text-align: left;
    vertical-align: center;
    width: 600px;
}
#browser.condensed .server .thumb img {
    border: 1px solid rgba(255, 255, 255, 0.9);
    width: 210px;
    height: 60px;
}
.list .server .thumb,
.list .server .info {
    display: inline-block;
    width: 870px;
    height: 30px;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 2px 0px !important;
    vertical-align: top;
}
.list .server .thumb {
    text-align: center;
    width: 100px;
}
.list .server .players {
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: right;
    font-weight: 300;
    font-size: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 2px 0 !important;
}
.list .server .settings {
    padding: 0 40px 0 0;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    vertical-align: center;
    box-sizing: border-box;
}
#browser.list .server .thumb img {
    border: 1px solid rgba(255, 255, 255, 0.9);
    width: 70px;
    height: 24px;
}

.list .name {
    width: 60%;
    display: inline-block;
    padding: 4px 0 0 0;
    margin-right: 40px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list .settings {
    width: 40%;
    display: inline-block;
    padding-top: 2px;
    overflow-x: hidden;
}
#browser.regular .name
{
    position: relative;
    padding-top: 12px;
}
.regular .name,
.regular .settings,
.condensed .name,
.condensed .settings {
    display: block;
    overflow-x: hidden;
}
#videos video,
#bg-cover,
#black {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
}
#videos video {
    z-index: -1;
    display: none;
}
#bg-cover {
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
}
#black {
    background: #000;
    z-index: 10;
    display: none;
}
audio {
    display: none;
}
.menu-container {
    display: none;
    position: absolute;
    margin: 0;
    z-index: 3;
    width: 1280px;
    height: 720px;
}
/*#main, #main3{
    top:-720px;
}
#serverbrowser{
    top: -720px;
    background: rgba(0,0,0,0.25);
}
#credits {
    top: -720px;
}*/
.animated {
    -webkit-transition: 400ms;
    -webkit-transition-timing-function: cubic-bezier(.55, 0, .1, 1);
    -moz-transition: 400ms;
    -moz-transition-timing-function: cubic-bezier(.55, 0, .1, 1);
    transition: 400ms;
    transition-timing-function: cubic-bezier(.55, 0, .1, 1);
}
/*#customgame {
    top: -720px;
    left: 0;
}
#main2 {
    top: 0px;
    left: 0;
}*/
#map-thumb,
#map-thumb-options {
    position: absolute;
    top: 40px;
    width: 450px;
    height: 180px;
    background: url('../img/maps/EDGE.jpg') no-repeat 0 0/cover;
    border-radius: 1px;
}
#music-album-cover {
    position: absolute;
    top: 120px;
    width: 300px;
    height: 300px;
    background: url('../img/album/halo3.jpg') no-repeat 0 0/cover;
    border-radius: 4px;
    right: 120px;
}
#credits table {
    width: 680px;
    position: absolute;
    left: 300px;
    top: 200px;
}
#credits table td.label {
    width: 540px;
    text-align: left;
    font-size: 24px;
    color: #fff;
    opacity: 0.9;
    vertical-align: top;
}
#credits table td.name {
    width: 540px;
    text-align: right;
    font-size: 24px;
    color: #fff;
    opacity: 0.9;
    vertical-align: top;
}
#type-icon-options {
    position: absolute;
    top: 200px;
    width: 90px;
    height: 90px;
    left: 927px;
    background: url('../img/gametypes/Slayer.png') no-repeat 0 0/90px 90px;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.8;
}
#map-thumb {
    left: 160px;
    border: 1px solid #000;
    box-shadow: 0px 0px 50px 16px #000;
}
#map-thumb-options {
    right: 150px;
    border: 2px solid rgba(255, 255, 255, 1);
}
#map-name-options,
#music-game,
#map-info-options,
#type-name-options,
#type-info-options {
    position: absolute;
    left: 680px;
    font-weight: 300;
    color: #fff;
    width: 450px;
}
#map-name-options,
#music-game,
#type-name-options {
    top: 320px;
    font-size: 26px;
    opacity: 0.85;
}
#map-info-options,
#type-info-options {
    top: 380px;
    font-size: 16px;
    opacity: 0.7;
}
#gametype-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    background: url('../img/gametypes/Slayer.png') no-repeat 0 0/cover;
    width: 90px;
    height: 90px;
}
#title,
#subtitle {
    position: absolute;
    left: 100px;
    color: #fff;
    opacity: 0.85;
}
#title {
    top: 300px;
    font-weight: 700;
    font-size: 68px;
    background: -webkit-linear-gradient(#fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#subtitle {
    top: 390px;
    font-size: 22px;
    font-weight: 300;
}
#line1,
#line2,
#line3,
#line4 {
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    height: 1px;
}
#controls {
    position: absolute;
    left: 150px;
    bottom: 10px;
    height: 50px;
    width: 900px;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.25);
}
#controls > div {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    opacity: 0.75;
    height: 20px;
    background-size: 20px;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
    margin: 0 15px 0 0;
}
#controls > div:hover {
    opacity: 1;
    cursor: pointer;
}
.control-A {background-image: url(../img/xbox/A.png)}
.control-B {background-image: url(../img/xbox/B.png)}
.control-X {background-image: url(../img/xbox/X.png)}
.control-Y {background-image: url(../img/xbox/Y.png)}
.control-START {background-image: url(../img/xbox/M.png)}
#description {
    position: absolute;
    bottom: 70px;
    left: 160px;
    width: 375px;
    color: #fff;
    font-size: 18px;
    opacity: 0.667;
    height: 70px;
}
#party-text {
    position: absolute;
    top: 320px;
    left: 160px;
    width: 375px;
    color: #fff;
    font-size: 18px;
    opacity: 0.667;
    min-height: 50px;
}
#line1 {
    top: 450px;
    left: 90px;
    width: 450px;
}
#line2 {
    top: 625px;
    left: 90px;
    width: 700px;
}
#line3 {
    top: 150px;
    left: 100px;
    width: 1080px;
}
#line4 {
    top: 640px;
    left: 100px;
    width: 1080px;
}
#select {
    position: absolute;
    top: 460px;
    left: 90px;
    width: 450px;
}
#main .select-main,
#main #select-main {
    position: absolute;
    bottom: 150px;
    left: 150px;
    width: 450px;
    min-height: 150px;
    border-top: 1px solid rgba(255,255,255,0.075);
    border-bottom: 1px solid rgba(255,255,255,0.075);
    padding: 5px 0;
}
#main2 .select-main {
    position: absolute;
    bottom: 130px;
    left: 110px;
    width: 450px;
}
.map-select,
.music-select,
.type-select,
.options-select {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 260px;
}
.map-select .selection,
.music-select .selection,
.type-select .selection {
    background: url('../img/right.svg') no-repeat 232px 8px/36px 18px;
}
.options-select2 .selection .value {
    text-align: center;
    display: table-cell;
    width: 270px;
    padding: 14px 0px 0px 0px;
    box-sizing: border-box;
    height: 20px;
}
.options-select2 .selection .input {
    text-align: center;
    display: table-cell;
    width: 270px;
    padding: 0;
    box-sizing: border-box;
    height: 20px;
}
.options-select2 .selection .label {
    text-align: left;
    display: table-cell;
    width: 400px;
    padding: 7px 10px 0px 10px;
    box-sizing: border-box;
    height: 20px;
}
.options-select2 .selection {
    font-weight: 300;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.85);
    width: 670px;
    height: 35px;
    border-left: 3px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    line-height: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.options-select2 {
    position: absolute;
    top: 150px;
    left: 310px;
    width: 500px;
    display: none;
    height: 500px;
    opacity: 0;
}
#serverbrowser ::-webkit-scrollbar {
    width: 12px;
}
* ::-webkit-scrollbar-track {
    opacity: 0;
}
* ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}
#choosemap ::-webkit-scrollbar,
#choosemusic ::-webkit-scrollbar,
#choosetype ::-webkit-scrollbar,
#customgame ::-webkit-scrollbar,
#friendslist ::-webkit-scrollbar,
#chatbox ::-webkit-scrollbar {
    width: 4px;
}
#lobby-container::-webkit-scrollbar{
	width: 0px;
}
.map-select2,
.type-select2 {
    position: absolute;
    top: 150px;
    left: 310px;
    width: 260px;
    display: none;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0;
}

.music-select2 {
    position: absolute;
    top: 150px;
    left: 310px;
    width: 400px;
    display: none;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0;
}

.music-select .selection .label,
.music-select2 .selection .label {
    text-align: left;
    display: table-cell;
    width: 400px;
    padding: 7px 10px 0px 10px;
    box-sizing: border-box;
    height: 40px;
}

.map-select .selection .label,
.map-select2 .selection .label,
.type-select .selection .label,
.type-select2 .selection .label,
.options-select .selection .label {
    text-align: left;
    display: table-cell;
    width: 260px;
    padding: 7px 10px 0px 10px;
    box-sizing: border-box;
    height: 80px;
}
.selection {overflow: hidden;}
.music-select .selection,
.music-select2 .selection {
    font-weight: 300;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.85);
    width: 400px;
    height: 35px;
    border-left: 3px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    line-height: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.music-select .selection, .music-select2 .label {
    width: 260px;
}

.map-select .selection,
.map-select2 .selection,
.type-select .selection,
.type-select2 .selection,
.options-select .selection {
    font-weight: 300;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.85);
    width: 260px;
    height: 35px;
    border-left: 3px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    line-height: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.map-select .selection,
.music-select .selection,
.type-select .selection,
.options-select .selection {
    background: url('../img/right.svg') no-repeat 232px 8px/18px 18px;
}
.music-select .selection {
    background: url('../img/right.svg') no-repeat 230px 8px/18px 18px;
}
.left,
.right {
    text-align: center;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    display: table-cell;
    background-size: 18px;
    background-position: 0px 8px;
    background-repeat: no-repeat;
    opacity: 0.5;
    box-sizing: border-box;
    padding: 0;
}
.left {
    background-image: url('../img/left.svg');
}
.right {
    background-image: url('../img/right.svg');
}
.select-title, #select-title {
    position: absolute;
    top: 240px;
    left: 160px;
    font-weight: 600;
    font-size: 56px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 33%,rgba(255,255,255,0.333) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#select-previous {
    transform: rotate(90deg);
    position: absolute;
    top: 320px;
    left: 140px;
    font-weight: 600;
    font-size: 46px;
    color: #fff;
    opacity: 0.125;
    transform-origin: top left;
}
#select-previous:hover {
    cursor: pointer;
    opacity: 0.25;
}
.select-icon, #select-icon {
    position: absolute;
    top: 242px;
    left: 78px;
    width: 72px;
    height: 62px;
    background: url('../img/EL.svg') no-repeat 0 0/cover;
    opacity: 0.75;
}
#select .selection,
.select-main .selection,
#select-main .selection {
    font-weight: 300;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.75);
    width: 450px;
    height: 30px;
    border-left: 3px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    line-height: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 10px;
}
.select-main .selection,
#select-main .selection {
    font-size: 21px;
}
.select-main .selection .value,
#select-main .selection .value,
#select .selection .value {
    float: right;
}
@keyframes menuHover {
    0% {background-color: rgba(255, 255, 255, 0.1);}
    50% {background-color: rgba(255, 255, 255, 0.01);}
    100% {background-color: rgba(255, 255, 255, 0.1);}
}
.selection:hover,
#select-main .selection:hover,
.server:hover,
.selection.gp-on,
.server.gp-on {
    animation: menuHover 2s 1s infinite;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.3) !important;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.95);
}
.selection.selected {
    animation: menuHover 2s 1s infinite;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.3) !important;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.95);
}
#currentmap {
    text-transform: uppercase;
}
#dewrito {
    position: absolute;
    width: 640px;
    height: 200px;
    opacity: 0.95;
    background: url('../img/Halo 3 CE.svg') no-repeat 0 0/cover;
    z-index: 2;
}
#dewrito.main {
    right: 30px;
    bottom: 130px;
}
#lobby-container table {
    width: 300px;
    border-collapse: separate;
    border-spacing: 0px 2px;
    margin-bottom: 10px;
}
#lobby-container.showing {
    right: 160px;
}
#lobby-container.hidden {
    right: -350px;
}
#lobby-container {
    transition: 0.5s;
    position: absolute;
    top: 40px;
    width: 300px;
    height: 590px;
    overflow-y: scroll;
    z-index: 5;
}
#lobby-container table .top td.info > span {
    float: right;
}
#lobby-container table .top td.info {
    background: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    font-size: 18px;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #fff;
}
#lobby-container table tr {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
#lobby-container table td {
    box-sizing: border-box;
    margin-bottom: 3px;
    color: #fff;
    cursor: pointer;
}
#lobby-container table td.name {
    font-weight: 300;
    font-size: 18px;
    width: 250px;
    padding: 1px 20px 0px 20px;
}
td.name.developer {
    background: url(../img/nameplates/haloce.png) no-repeat 160px 4px/43px 20px;
}
#lobby-container table td.rank {
    width: 50px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
}
#lobby-container table td.rank img {
    max-width: 22px;
    max-height: 22px;
    margin-top: 0px;
    opacity: 0.9;
    box-sizing: border-box;
}
#playerinfo {
    position: absolute;
    right: -700px;
    top: 50px;
    width: 666px;
    height: 612px;
    border: none;
    z-index: 2;
    overflow: hidden;
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.45);
}
#player-rank-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: url('../img/ranks/reach/0.png') no-repeat center center/72px 72px;
}
#player-name {
    display: block;
    font-size: 22px;
    margin: 10px 0;
}
#player-level-display {
    display: block;
    font-size: 18px;
    opacity: 0.8;
    margin: 0;
}
#player-info {
    position: absolute;
    top: 0;
    left: 110px;
    width: 536px;
    height: 100px;
    color: #fff;
}
#player-kd-chart {
    position: relative;
    margin: 20px;
    width: 150px;
    height: 150px;
    z-index: 3;
}
#player-title {
    position: absolute;
    top: 10px;
    left: 10px;
    background: no-repeat 458px 10px/178px 80px;
    background-color: rgba(0, 0, 0, 0.55);
    width: 646px;
    height: 100px;
}
#player-level {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.55);
    width: 646px;
    height: 100px;
}
#player-kd-display {
    position: absolute;
    top: 70px;
    text-align: center;
    z-index: 2;
    font-size: 38px;
    color: #fff;
    width: 100%;
}
#player-armor {
    position: absolute;
    top: 120px;
    right: 10px;
    width: 320px;
    height: 372px;
}
#player-stats {
    position: absolute;
    bottom: 120px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.67);
}
#back,
#browser-settings {
    left: 20px;
    bottom: 20px;
    font-size: 18px;
    opacity: 0.75;
    display: none;
    z-index: 999;
}
#dewmenu-button {
    left: 120px;
    bottom: 40px;
    font-size: 14px;
    opacity: 0.75;
    z-index: 999;
    display: block;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}
#dewmenu-button:hover {
    cursor: pointer;
    opacity: 1;
}
.options-menu {
    background: -moz-linear-gradient(top, rgba(0, 38, 64, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 38, 64, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 38, 64, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    position: absolute;
    top: 0px;
    left: 0;
    margin: 0;
    z-index: 3;
    display: none;
    width: 1280px;
    height: 720px;
}
.options-section {
    width: 1280px;
    height: 720px;
    top: 0px;
    left: 0px;
    display: none;
}
.options-title {
    position: absolute;
    top: 60px;
    left: 150px;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    opacity: 0.9;
    z-index: 4;
    background: -webkit-linear-gradient(#fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#dot {
    position: absolute;
    top: 45px;
    left: 80px;
    background: url('../img/Auntie_Dot.png') 0 0/cover;
    width: 120px;
    height: 90px;
    z-index: 3;
    opacity: 0.67;
}
#version {
    right: 2px;
    bottom: 2px;
    font-size: 10px;
    opacity: 0.3;
    font-family: "Conduit ITC";
    font-weight: 300;
}
#bungie {
    position: absolute;
    right: 120px;
    bottom: 40px;
    opacity: 0.5;
    background-image: url(../img/TheBungieTrain.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 36px;
}
