@font-face {
  font-family: 'Conduit ITC';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Conduit ITC Light.woff") format('woff');
}
@font-face {
  font-family: 'Conduit ITC';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Conduit ITC.woff") format('woff');
}
@font-face {
  font-family: 'Conduit ITC';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Conduit ITC Medium.woff") format('woff');
}
@font-face {
  font-family: 'Conduit ITC';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Conduit ITC Bold.woff") format('woff');
}

* {
    font-family: "Conduit ITC";
    -webkit-user-select: none;
    user-select: none;
    -webkit-font-smoothing:antialiased;
}

html {background: #000;}
